*{
    margin: 0%;
}
.logo{
    width: 7.5%;
    padding-left: 7%;
}

.navbar-brand{
    color: white;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-line: none;
    font-family: system-ui;
}


.navbar-bg-light{
 background-color: #3a3a3a;
}
h2{
    color: white;
}
p{
    color: white;
}
.conf-bs-as{
    font-family: system-ui;
    text-align-last: end;
    padding-right: 5%;
    background-image:url(img/ba1.jpg) ;
    background-size: cover;
    padding: 18%;
   
}
.text{
   text-align: center; 
   font-family:sans-serif ;
   padding: 1%;
}
.card-group{
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
}
.card{
    
}